

.footer{
    min-height: 205px;

}



#card-7{
    background-image:url('/images/footer-5.png');
  }

#card-8{
    background-image: url("/images/footer-4.png");
}

#card-9{
    background-image: url("/images/footer-3.png");
}

#card-10{
    background-image: url("/images/footer-2.png");
}

#card-11{
    background-image: url("/images/footer-1.png");
}

